@import "colors";

:root {
  box-sizing: border-box;
  font-size: calc(0.7rem + 0.8vw);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  text-align: center;
  background-color: $color-background;
}

header {
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  text-shadow: 0.1em 0.1em 0.1em #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.menu {
  position: relative;
}

.menu__home {
  position: absolute;
  top: -4.1em;
  left: 1em;
  border: 0;
  background-color: transparent;
  width: 3.2em;
  height: 3.5em;
  text-indent: 5em;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.menu__home::after {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  content: url(../img/home.svg);
  width: 3em;
}

.menu__toggle {
  position: absolute;
  top: -3.5em;
  right: 1em;
  border: 0;
  background-color: transparent;
  width: 2.7em;
  height: 2.3em;
  text-indent: 5em;
  overflow: hidden;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  outline: none;
}

.menu__toggle span {
  display: block;
  position: absolute;
  height: 0.5em;
  width: 100%;
  background: #000;
  border-radius: 0.5em;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__toggle span:nth-child(1) {
  top: 0.1em;
}

.menu__toggle span:nth-child(2), .menu__toggle span:nth-child(3) {
  top: 0.9em;
}

.menu__toggle span:nth-child(4) {
  top: 1.7em;
}

.menu.is-open .menu__toggle span:nth-child(1) {
  top: 0.9em;
  width: 0%;
  left: 50%;
}

.menu.is-open .menu__toggle span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.is-open .menu__toggle span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.is-open .menu__toggle span:nth-child(4) {
  top: 0.9em;
  width: 0%;
  left: 50%;
}

.menu__dropdown {
  display: none;
  margin: 0;
}

.menu.is-open .menu__dropdown {
  display: block;
}

.menu__dropdown > ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border: 2px solid $color-background;
  border-top: none;
}

.menu__dropdown > ul > li + li {
  border-top: 2px solid $color-background;
}

.menu__dropdown > ul > li > a {
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
}

.menu__dropdown > ul > div {
  border-top: 2px solid $color-background;
  border-bottom: 2px solid $color-background;
  font-weight: bold;
}

.header-positioned {
  background-position: 50% 50%;
}

.header-container {
  max-width: 82%;
  margin: 0 auto;
}

.introduction {
  max-width: 1200px;
  margin: 10em auto 0;
}

footer {
  margin-bottom: 0.5em;
}

h1, h2, h3, h4 {
  text-transform: uppercase;
  margin: 0;
}

h5 {
  margin: 0;
}

h1 {
  padding: 0.3em 0 0;
  font-size: 1.5em;
}

a {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

h2 {
  margin-top: 1em;
}

.welcome {
  font-size: 1.5em;
  margin: 0.3em;
}

.img_welcome {
  max-width: 500px;
  width: 95%;
  margin: 0.5em;
}

.img_pact {
  width: 95%;
  max-width: 500px;
}

.img_inside {
  width: 95%;
  max-width: 500px;
}

.img_map {
  width: 95%;
  max-width: 500px;
  height: 400px;
}

.img_diode {
  width: 120px;
  float: right;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

.clearfix {
  clear: right;
}

.tile {
  border: 2px solid black;
  margin: 0.2em;
  padding: 0.2em;
  background-color: $color-tile;
}

.side-padding {
  padding: 0 0.2em;
}

.gesicht > h3 {
  margin: 0.5em 0 0;
}

.gesicht > h4 {
  font-size: 0.9em;
}

.gesicht > div {
  display: inline-block;
  opacity: 0.7;
}

.gesicht > ul {
  list-style: none;
  text-align: left;
}

.gesicht > .checklist {
  list-style: circle;
}

.duration:after {
  content: "    •    ";
}

.subtext > div {
  display: inline-block;
  opacity: 0.7;
}

.item {
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-size: 1em;

  > p {
    margin: 0.7em;
    display: inline-block;
  }

  > div {
    margin-bottom: 0.7em;
    align-self: flex-end;
  }

  > p > span {
    opacity: 0.7;
  }

  > p > span::before {
    content: "  •  ";
  }
}

.no-wrap {
  white-space:nowrap;
}

.max-width-700 {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

@media (min-width: 612px) {
  .introduction {
    margin-top: 7em;
  }

  //.menu__dropdown {
  //  top: 4em;
  //}
}

@media (min-width: 700px) {
  main {
    padding-left: calc(25px + 14em);
    width: 100%;
  }

  .menu__toggle {
    display: none;
  }

  .menu__dropdown {
    background-color: #aeafb1;
    display: block;
    text-align: left;
    position: fixed;
    width: calc(25px + 14em);
    top: 6em;
    bottom: 0;
    text-shadow: initial;

    > ul {
      border: 0;
    }

    > ul > div {
      padding-left: 0.3em;
      border-top: 1px solid $color-background;
      border-bottom: 1px solid $color-background;
    }

    > ul > li + li {
      border: 0;
    }

    > ul > li > a {
      padding: 0.5em;
      padding-left: 0.8em;
      border-top: 1px dotted $color-background;
      border-bottom: 1px dotted $color-background;
      font-size: 0.8rem;
    }
  }

  .introduction {
    margin-top: 6em;
  }

  footer {
    padding-left: calc(25px + 14em);
    width: 100%;
  }
}

@media (min-width: 1219px) {
  .introduction {
    margin-top: 4em;
  }

  .menu__dropdown {
    top: 4em;
  }
}
